@charset "utf-8";

/* 앱,웹 세로 100% */
html, body, .sudoku-wrap{min-height:100%;}
.sudoku-wrap{position:fixed;overflow:hidden;}

/* 버튼 */
.btn-small{display:block;padding:4vw 0;font-size:4.5vw;}
.btn-medium{display:block;padding:5vw 0;font-size:5vw;}
.btn-large{display:block;padding:6vw 0;font-size:6vw;}
.btn-gray{border-radius:3vw;background:var(--gray555);color:var(--white);text-align:center;box-shadow:rgba(0, 0, 0, 0.15) 5px 8px 20px;}
.btn-primary{border-radius:3vw;background:var(--primary);color:var(--white);text-align:center;box-shadow:rgba(0, 0, 0, 0.15) 5px 8px 20px;}
.btn-point{border-radius:3vw;background:var(--point);color:var(--white);text-align:center;box-shadow:rgba(0, 0, 0, 0.15) 5px 8px 20px;}
.btn-gradient{border-radius:3vw;background:linear-gradient(0deg, #8ce2bd, #F5F3BB,#fffed4);color:var(--gray555);text-align:center;box-shadow:rgba(0, 0, 0, 0.15) 5px 8px 20px;}
.btn-gradient2{border-radius:3vw;background:linear-gradient(0deg, #DF2935,#ff6b46);color:var(--gray555);text-align:center;box-shadow:rgba(0, 0, 0, 0.15) 5px 8px 20px;color:#fff;}

/* 메인화면 */
.start{display:flex;justify-content:center;align-content:center;flex-wrap:wrap;min-height:100vh;color:var(--white);}
.start .start-title{width:100%;text-align:center;font-size:17vw;font-weight:700;line-height:20vw;margin:0 0 10vw;}
.start .start-desc{width:100%;text-align:center;font-size:6vw;letter-spacing:-0.3vw;}
.start .start-step{display:flex;justify-content:center;width:94vw;margin:0;}
.start .start-step a{width:100vw;border-radius:100vw;margin:0 1vw;}
.start .start-btn{width:100vw;margin:10vw 0vw 0;}
.start .start-btn a{width:100%;border-radius:100vw;}

/* 레이아웃 */
.sudoku-wrap{display:flex;flex-direction:column;justify-content:space-between;width:100%;background:var(--third);padding:0 4vw;}
.header{display:flex;justify-content:space-between;align-items:center;height:14vw;}
.header .header-util span{display:inline-block;margin-left:2vw;}

/* 스도쿠 배경화면 애니메이션 */
.sudoku-wrap{background:linear-gradient(90deg, #fff, #dfdeb4,#f2f1e4);background-size:400% 400%;animation:gradient 30s ease infinite;}
@keyframes gradient {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}

.sudoku-wrap.start-ani{background:linear-gradient(90deg, #00a85f, #00a892,#0086a8);background-size:400% 400%;animation:gradient 10s ease infinite;}
@keyframes gradient {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}
.sudoku-wrap.start-ani::before{content:'';position:absolute;top:-10vw;left:-22vw;width:100vw;height:50vw;background:rgba(999, 999, 999, 0.1);box-shadow:rgba(0, 0, 0, 0.001) 5px 8px 20px;border-radius:100vw;transform:rotate(45deg);filter:blur(1px);z-index:1;}
.sudoku-wrap.start-ani::after{content:'';position:absolute;top:25vw;left:55vw;width:30vw;height:30vw;background:rgba(999, 999, 999, 0.1);box-shadow:rgba(0, 0, 0, 0.001) 5px 8px 20px;border-radius:100vw;transform:rotate(45deg);filter:blur(4px);z-index:2;}
.sudoku-wrap.start-ani .container::before{content:'';position:absolute;bottom:10vw;right:-20vw;width:65vw;height:36vw;background:rgba(999, 999, 999, 0.1);box-shadow:rgba(0, 0, 0, 0.001) 5px 8px 20px;border-radius:100vw;transform:rotate(45deg);filter:blur(1px);z-index:1;}
.sudoku-wrap.start-ani .container::after{content:'';position:absolute;bottom:-5vw;right:0vw;width:40vw;height:18vw;background:rgba(999, 999, 999, 0.1);box-shadow:rgba(0, 0, 0, 0.001) 5px 8px 20px;border-radius:100vw;transform:rotate(45deg);filter:blur(4px);z-index:2;}

/* 스도쿠 게임 */
.container{flex:1;}
/* .score-wrap{margin:10px 0 5px;} */
.score-wrap .score-level{font-size:5vw;color:var(--point);font-weight:600;text-align:center;margin:0 0 4vw;padding:1.8vw 0;background:var(--white);border-radius:100px;box-shadow:rgba(0, 0, 0, 0.08) 4px 5px 12px;}
.score-wrap ul{display:flex;justify-content:space-between;margin:2vw 0;}
.score-wrap ul li{color:var(--gray999);}

.place-wrap{position:relative;display:flex;flex-wrap:wrap;width:100%;background:var(--white);box-sizing:border-box;border:2px solid var(--gray555);border-right:0;border-bottom:0;box-shadow:rgba(0, 0, 0, 0.1) 5px 7px 10px;z-index:0;}
.place-wrap .row{position:relative;display:flex;flex-wrap:wrap;width:33.3334%;border-right:2px solid var(--gray555);border-bottom:2px solid var(--gray555);}
.place-wrap .row .cell{position:relative;width:33.3334%;height:9.88vw;border:1px solid var(--grayddd);flex:auto;}

.place-wrap input[type='text']{position:absolute;width:100%;height:100%;text-align:center;font-size:6.8vw;color:var(--primary);line-height:0;caret-color:transparent;z-index:2;}
.place-wrap input[type='text']:focus{background:var(--primary);color:var(--white);transition-duration:0.2s;}
.place-wrap input:focus-visible{background:var(--primary);color:var(--white);transition-duration:0.2s;}

.place-wrap input:read-only{color:var(--gray555);cursor:not-allowed;}
.place-wrap input:read-only:active{outline:2px solid var(--primary);border:4px solid var(--primary);background:var(--white);transition:all 0.2s ease;}

.highlight{background:var(--third);transition-duration:0.2s;}

/* 연습숫자 */
.place-wrap .row .cell .small-number{position:absolute;width:33%;height:33%;top:0;left:0;font-size:3vw;color:var(--gray999);font-weight:700;text-align:center;background:transparent;z-index:3;}
.place-wrap .row .cell :is(.number1,.number4,.number7){left:0;}
.place-wrap .row .cell :is(.number2,.number5,.number8){left:30%;}
.place-wrap .row .cell :is(.number3,.number6,.number9){left:60%;}
.place-wrap .row .cell :is(.number4,.number5,.number6){top:30%;}
.place-wrap .row .cell :is(.number7,.number8,.number9){top:60%;}

/* 연습버튼 */
/* #btn_exammode.on{color:var(--point);} */

/* 정답모션 */
/* .row:has(.answer){transition:all 0.4s ease;background:#009856;color:#fff;} */
.row .cell .answer{animation:fade 0.4s ease;font-weight:700;}
@keyframes fade {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

/* 오답모션 */
.wrong-answer{background:#ffe5e7;}

/* 하단 */
.footer .menu{display:flex;justify-content:space-around;align-items:flex-end;margin:5vw 0;}
.footer .menu li{text-align:center;}
.footer .menu button{display:block;font-size:7vw;padding:2vw;}
.footer .menu span{display:block;font-size:3.4vw;line-height:1;}

.footer .number{display:flex;justify-content:space-between;margin:5vw 0;}
.footer .number button{display:block;width:100%;padding:2vw 0;margin:0 0.5vw;font-size:8vw;font-weight:600;color:var(--white);background:var(--primary);border-radius:1.4vw;box-shadow:rgba(0, 0, 0, 0.1) 3px 4px 7px;}
.footer .number button span{display:block;font-size:3.6vw;color:var(--secondary);}

/* 스도쿠 최초화면 애니메이션 */
.animation-box{position:absolute;top:0;left:0;width:100%;height:100%;z-index:5;animation:fadeOut 0.8s forwards;}
.animation-box > div{position:absolute;top:0;left:0;width:100%;height:10vw;background:linear-gradient(90deg, #009856,#F5F3BB);background-size:100% 100%;}
.animation-box .box1{top:0;animation-delay:0s !important;}
.animation-box .box2{top:10vw;animation-delay:0.1s !important;}
.animation-box .box3{top:20vw;animation-delay:0.2s !important;}
.animation-box .box4{top:30vw;animation-delay:0.3s !important;}
.animation-box .box5{top:40vw;animation-delay:0.4s !important;}
.animation-box .box6{top:50vw;animation-delay:0.5s !important;}
.animation-box .box7{top:60vw;animation-delay:0.6s !important;}
.animation-box .box8{top:70vw;animation-delay:0.7s !important;}
.animation-box .box9{top:80vw;animation-delay:0.8s !important;}

.animation-box .motion{animation:fade 0.4s 0s ease-in-out both;}
@keyframes fade {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  to {
      display: none;
  }
}

/* 모달팝업 */
.modal-wrap{position:absolute;display:flex;justify-content:center;align-content:center;flex-wrap:wrap;top:0;left:0;width:100vw;min-height:100vh;}
.modal-wrap .modal-inner{width:80vw;background:#fff;border-radius:5vw;padding:10vw 5vw;box-shadow:rgba(0, 0, 0, 0.2) 5px 8px 20px;z-index:1;}
.modal-wrap .modal-text{font-size:5vw;text-align:center;margin-bottom:8vw;}
.modal-wrap .modal-btn{display:flex;justify-content:space-between;}
.modal-wrap .modal-btn a{width:100%;margin:0 1vw;}
.modal-wrap .dimmed{position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0, 0, 0, 0.6);z-index:0;}

.modal-wrap.hidden{display:none;}
