@charset "utf-8";

/* 앱,웹 세로 100% */
html, body, .sudoku-wrap{min-height:100%;}
.sudoku-wrap{position:fixed;overflow:hidden;}

/* 버튼 */
.btn-small{display:block;padding:4vw 0;font-size:4.5vw;}
.btn-medium{display:block;padding:5vw 0;font-size:5vw;}
.btn-large{display:block;padding:6vw 0;font-size:6vw;}
.btn-gray{border-radius:3vw;background:var(--gray555);color:var(--white);text-align:center;box-shadow:rgba(0, 0, 0, 0.15) 5px 8px 20px;}
.btn-primary{border-radius:3vw;background:var(--primary);color:var(--white);text-align:center;box-shadow:rgba(0, 0, 0, 0.15) 5px 8px 20px;}
.btn-point{border-radius:3vw;background:var(--point);color:var(--white);text-align:center;box-shadow:rgba(0, 0, 0, 0.15) 5px 8px 20px;}
.btn-gradient{border-radius:3vw;background:linear-gradient(0deg, #8ce2bd, #F5F3BB,#fffed4);color:var(--gray555);text-align:center;box-shadow:rgba(0, 0, 0, 0.15) 5px 8px 20px;}
.btn-gradient2{border-radius:3vw;background:linear-gradient(0deg, #DF2935,#ff6b46);color:var(--gray555);text-align:center;box-shadow:rgba(0, 0, 0, 0.15) 5px 8px 20px;color:#fff;}

/* 아이콘 */
.icon{display:block;width:14vw;height:14vw;background-position:50%;background-repeat:no-repeat;}
.icon_reload{background-image:url(../images/icon_reload.svg);}
.icon_erase{background-image:url(../images/icon_erase.svg);}
.icon_exammode{background-image:url(../images/icon_exammode.svg);}
.icon_hint{background-image:url(../images/icon_hint.svg);}
.icon_settings{background-image:url(../images/icon_settings.svg);}
.icon_back{background-image:url(../images/icon_back.svg);}

/* 메인화면 */
.start{width:100%;min-height:100vh;align-content:center;color:var(--white);}
.start .start-title{width:100%;text-align:center;font-size:17vw;font-weight:700;line-height:20vw;margin:0 0 10vw;}
.start .start-desc{width:100%;text-align:center;font-size:6vw;letter-spacing:-0.3vw;}
.start .start-step{display:flex;justify-content:center;width:100%;margin:0;}
.start .start-step a{width:100vw;border-radius:100vw;margin:0 1vw;}
.start .start-btn{width:100%;margin:10vw 0 0;}
.start .start-btn a{border-radius:100vw;}

/* 레이아웃 */
.sudoku-wrap{display:flex;flex-direction:column;justify-content:space-between;width:100%;background:var(--third);padding:0 4vw;}
.header{display:flex;justify-content:space-between;align-items:center;height:13vw;}
.header .header-util span{display:inline-block;margin-left:2vw;}

/* 도전모드 배경이미지 */
.sudoku-wrap.bg-sudoku-01{background:#fde6be url(../images/bg-sudoku-01.jpg) 100% 0/100%;animation:none;}
.sudoku-wrap.bg-sudoku-02{background:#f0e1d7 url(../images/bg-sudoku-02.jpg) 100% 0/100%;animation:none;}
.sudoku-wrap.bg-sudoku-03{background:#b5cfc8 url(../images/bg-sudoku-03.jpg) 100% 0/100%;animation:none;}
.sudoku-wrap.bg-sudoku-04{background:#fcd3e0 url(../images/bg-sudoku-04.jpg) 100% 0/100%;animation:none;}

/* 스도쿠 배경화면 애니메이션 */
.sudoku-wrap{background:linear-gradient(90deg, #fff, #dfdeb4,#f2f1e4);background-size:400% 400%;animation:gradient 30s ease infinite;}
@keyframes gradient {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}

.sudoku-wrap.start-ani{background:linear-gradient(90deg, #00a85f, #00a892,#0086a8);background-size:400% 400%;animation:gradient 10s ease infinite;}
@keyframes gradient {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}
.sudoku-wrap.start-ani::before{content:'';position:absolute;top:-10vw;left:-22vw;width:100vw;height:50vw;background:rgba(999, 999, 999, 0.1);box-shadow:rgba(0, 0, 0, 0.001) 5px 8px 20px;border-radius:100vw;transform:rotate(45deg);filter:blur(1px);z-index:1;}
.sudoku-wrap.start-ani::after{content:'';position:absolute;top:25vw;left:55vw;width:30vw;height:30vw;background:rgba(999, 999, 999, 0.1);box-shadow:rgba(0, 0, 0, 0.001) 5px 8px 20px;border-radius:100vw;transform:rotate(45deg);filter:blur(4px);z-index:2;}
.sudoku-wrap.start-ani .container::before{content:'';position:absolute;bottom:10vw;right:-20vw;width:65vw;height:36vw;background:rgba(999, 999, 999, 0.1);box-shadow:rgba(0, 0, 0, 0.001) 5px 8px 20px;border-radius:100vw;transform:rotate(45deg);filter:blur(1px);z-index:1;}
.sudoku-wrap.start-ani .container::after{content:'';position:absolute;bottom:-5vw;right:0vw;width:40vw;height:18vw;background:rgba(999, 999, 999, 0.1);box-shadow:rgba(0, 0, 0, 0.001) 5px 8px 20px;border-radius:100vw;transform:rotate(45deg);filter:blur(4px);z-index:2;}

/* 스도쿠 게임 */
.container{display:flex;flex-wrap: wrap;align-items:flex-start;flex:1}
.score-wrap{display:block;width:100%;}
.score-wrap .score-level{font-size:5vw;color:var(--point);font-weight:600;text-align:center;margin:0 0 4vw;padding:1.8vw 0;color:var(--white);background:var(--white);border-radius:100px;box-shadow:rgba(0, 0, 0, 0.08) 4px 5px 12px;}
.score-wrap ul{display:flex;justify-content:space-between;margin:6vw 0 0;color:var(--gray999);}
.level-mode ul li{color:var(--gray555);background:rgba(999, 999, 999, 0.9);padding:0.5vw 4vw;margin-bottom:2vw;border-radius:2vw;} /* 도전모드 */

.place-wrap{position:relative;display:flex;flex-wrap:wrap;width:100%;background:var(--white);box-sizing:border-box;border:2px solid var(--gray555);border-right:0;border-bottom:0;box-shadow:rgba(0, 0, 0, 0.1) 5px 7px 10px;z-index:0;}
.place-wrap .row{position:relative;display:flex;flex-wrap:wrap;width:33.3334%;border-right:2px solid var(--gray555);border-bottom:2px solid var(--gray555);}
.place-wrap .row .cell{position:relative;width:33.333%;height:10vw;border:1px solid var(--grayddd);}
.place-wrap .row .cell > div{line-height:1.55;}

.place-wrap input[type='text']{position:absolute;width:100%;height:100%;text-align:center;font-size:6vw;color:var(--primary);line-height:0;caret-color:transparent;z-index:2;}
.place-wrap input[type='text']:focus{background:var(--primary);color:var(--white);transition-duration:0.2s;}
.place-wrap input:focus-visible{background:var(--primary);color:var(--white);transition-duration:0.2s;}

.place-wrap input:read-only{color:var(--gray555);cursor:not-allowed;}
.place-wrap input:read-only:active{outline:2px solid var(--primary);border:4px solid var(--primary);background:var(--white);transition:all 0.2s ease;}

.highlight{background:var(--third);transition-duration:0.2s;}
.highlight.focus{background:var(--primary);color:var(--white) !important;transition-duration:0.2s;}  /* 연습모드일때 포커스 */
.highlight.focus_wrong_answer{background:var(--primary);transition-duration:0.2s;}  /* 연습모드일때 포커스 */

.correct{background:var(--secondary);transition-duration:0.2s;}

/* 연습숫자 */
.place-wrap .row .cell .small-number{position:absolute;width:30%;height:30%;top:0;left:0;font-size:3vw;color:yellowgreen;font-weight:600;text-align:center;background:transparent;z-index:3;}
.place-wrap .row .cell :is(.number1,.number4,.number7){left:0;}
.place-wrap .row .cell :is(.number2,.number5,.number8){left:30%;}
.place-wrap .row .cell :is(.number3,.number6,.number9){left:60%;}
.place-wrap .row .cell :is(.number4,.number5,.number6){top:30%;}
.place-wrap .row .cell :is(.number7,.number8,.number9){top:60%;}

/* 연습버튼 */
/* #btn_exammode.on{color:var(--point);} */

/* 정답모션 */
/* .row:has(.answer){transition:all 0.4s ease;background:#009856;color:#fff;} */
.row .cell .answer{animation:fade 0.4s ease;font-weight:700;}
@keyframes fade {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

/* 오답모션 */
.wrong-answer{background:#ffe5e7;color:#DF2935 !important;}

/* 하단 */
.footer .menu{display:flex;justify-content:space-around;align-items:flex-end;margin:2vw 0;}
.footer .menu li{text-align:center;}
.footer .menu button{display:block;width:16vw;padding:0;background-position:50% 20%;}
.footer .menu span{display:block;width:16vw;height:14vw;padding-top:9vw;font-size:3.4vw;line-height:1;}

.footer .number{display:flex;justify-content:space-between;margin:4vw 0 5vw;}
.footer .number button{display:block;width:100%;padding:2vw 0;margin:0 0.4vw;font-size:8vw;font-weight:600;color:var(--white);background:var(--primary);border-radius:1.4vw;box-shadow:rgba(0, 0, 0, 0.1) 3px 4px 7px;}
.footer .number button span{display:block;font-size:3.6vw;color:var(--secondary);}

/* 스도쿠 최초화면 애니메이션 */
.animation-box{position:absolute;top:0;left:0;width:100%;height:100%;z-index:5;animation:fadeOut 0.8s forwards;}
.animation-box > div{position:absolute;top:0;left:0;width:100%;height:10.6vw;background:linear-gradient(90deg, #009856,#F5F3BB);background-size:100% 100%;}
.animation-box .box1{top:0;animation-delay:0s !important;}
.animation-box .box2{top:10.5vw;animation-delay:0.1s !important;}
.animation-box .box3{top:20.5vw;animation-delay:0.2s !important;}
.animation-box .box4{top:30.5vw;animation-delay:0.3s !important;}
.animation-box .box5{top:40.5vw;animation-delay:0.4s !important;}
.animation-box .box6{top:50.5vw;animation-delay:0.5s !important;}
.animation-box .box7{top:60.5vw;animation-delay:0.6s !important;}
.animation-box .box8{top:70.5vw;animation-delay:0.7s !important;}
.animation-box .box9{top:80.5vw;animation-delay:0.8s !important;}

.animation-box .motion{animation:fade 0.4s 0s ease-in-out both;}
@keyframes fade {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  to {
      display: none;
  }
}

/* 모달팝업 */
.modal-wrap{position:absolute;display:flex;justify-content:center;align-content:center;flex-wrap:wrap;top:0;left:0;width:100vw;min-height:100vh;}
.modal-wrap .modal-inner{width:80vw;background:#fff;border-radius:5vw;padding:10vw 5vw;box-shadow:rgba(0, 0, 0, 0.2) 5px 8px 20px;z-index:1;}
.modal-wrap .modal-text{font-size:5vw;text-align:center;margin-bottom:8vw;}
.modal-wrap .modal-btn{display:flex;justify-content:space-between;}
.modal-wrap .modal-btn a{width:100%;margin:0 1vw;}
.modal-wrap .dimmed{position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0, 0, 0, 0.6);z-index:0;}

.modal-wrap.hidden{display:none;}

/* 텍스트 애니메이션 */
.ml4 { position: absolute; top: 40%; left: 0; width: 100%; min-height: 30%; font-weight: 900; font-size: 4.5em; }
.ml4 .letters { position: absolute; margin: auto; left: 0; top: 0; right: 0;  opacity: 0;}

/* input -> div 교체 */
.cell_text{box-sizing:border-box;border:none;outline-style:none;border-radius:0;font-size:inherit;font-family:inherit;color:inherit;}/* -webkit-appearance:none;-moz-appearance:none;appearance:none; */
.cell_text{resize:none;box-shadow:none !important;border-radius:0;outline:none;}
.cell_text:checked{-webkit-appearance:checkbox;}
.cell_text::-ms-clear::-ms-clear{display:none;}
.cell_text[disabled]{cursor:default;}
.cell_text{-webkit-tap-highlight:rgba(0, 0, 0, 0)}
.cell_text{vertical-align:middle;border-radius:0;outline:none;/*background:transparent;*/}
.cell_text::-ms-expand{display:none;}

@media all and (max-width:800px){
	.ios-os .cell_text{-webkit-appearance: none;-moz-appearance: none;appearance: none;border-radius:0;}
}

.cell_text:focus::-webkit-input-placeholder{visibility:hidden}
.cell_text:focus:-moz-placeholder{visibility:hidden}
.cell_text:focus::-moz-placeholder{visibility:hidden}
.cell_text:focus:-ms-input-placeholder{visibility:hidden}

.cell_text{position:absolute;width:100%;height:100%;text-align:center;font-size:6vw;/*color:var(--primary);*//*line-height:0*/;caret-color:transparent;z-index:2;}
.cell_text:focus{background:var(--primary);color:var(--white);transition-duration:0.2s;}
.cell_text:focus-visible{background:var(--primary);color:var(--white);transition-duration:0.2s;}

.cell_text:read-only{color:var(--gray555);cursor:not-allowed;}
.cell_text:read-only:active{outline:2px solid var(--primary);border:4px solid var(--primary);background:var(--white);transition:all 0.2s ease;}